.app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    color: #5D767D;
    margin-bottom: 30px;
  }
}
