.todo-list-wrapper {
  width: 640px;
  justify-content: center;
  display: flex;
  height: 100%;
  flex-direction: column;

  .todo-list-add-new {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text-field {
      width: 500px;
      margin-right: 25px !important;
    }
  
    &__button {
      font-weight: bold;
    }
  }

  .todo-list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    &--item-wrapper {
      width: 100%;
      padding: 5px 0;
      word-break: break-word;
    }

    &__item {
      width: 100%;
      padding: 10px 0;

      p {
        padding-left: 10px;
      }
    }
  }
}
